.header {
    height: 70px;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    color: white;
    box-shadow: 0px 0.1px 5px black;
  
    .container {
        padding: 0px 30px;
    }

    .logo-container {
        height: 100%;
        width: 25%;
        display: flex;
        align-items: center;

        .logo {
            color: whitesmoke;
            font-size: 24px;
            font-style: oblique;
            font-weight: bolder;
            text-decoration:none;
        }
    }
  
    .options {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
  
        .option {
            padding: 10px 15px;
            cursor: pointer;
            color: rgba(255, 255, 255, 0.8);
            font-size: 20px;
            font-weight: bold;
            text-decoration:none;
            &:hover{
                color: white;
            }
            &:focus{
                color: white;
            }
        }
    }

    .sign-in-container {
        height: 100%;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-weight: bold;

        .sign-in {
            padding: 5px 20px;
            cursor: pointer;
            color: blueviolet;
            background-color: rgba(255, 255, 255, 0.8);
            font-size: 18px;
            border-radius: 5px;
            text-decoration: none;
            
            &:hover{
                background-color: white;
            }
        }

        .log-out {
            padding: 5px 20px;
            cursor: pointer;
            color: blueviolet;
            background-color: rgba(255, 255, 255, 0.8);
            font-size: 18px;
            border-radius: 5px;
            text-decoration: none;
            
            &:hover{
                background-color: white;
            }
        }
    }
}
